@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yantramanav:wght@300&display=swap");

html {
  font-size: 100%;
  font-size-adjust: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body,
html {
  background: #f2f3f5;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
}

h1 {
  margin: 40px auto;
  padding-top: 2em;
  font-family: "Ubuntu", sans-serif;
  font-size: 90px;
  color: #313537;
  text-align: center;
  letter-spacing: 5px;
  text-shadow: 0 2px 1px #747474, -1px 3px 1px #767676, -2px 5px 1px #787878,
    -3px 7px 1px #7a7a7a, -4px 9px 1px #7f7f7f, -5px 11px 1px #838383,
    -6px 13px 1px #878787, -7px 15px 1px #8a8a8a, -8px 17px 1px #8e8e8e,
    -9px 19px 1px #949494, -10px 21px 1px #989898, -11px 23px 1px #9f9f9f,
    -12px 25px 1px #a2a2a2, -13px 27px 1px #a7a7a7, -14px 29px 1px #adadad,
    -15px 31px 1px #b3b3b3, -16px 33px 1px #b6b6b6, -17px 35px 1px #bcbcbc,
    -18px 37px 1px #c2c2c2, -19px 39px 1px #c8c8c8, -20px 41px 1px #cbcbcb,
    -21px 43px 1px #d2d2d2, -22px 45px 1px #d5d5d5, -23px 47px 1px #e2e2e2,
    -24px 49px 1px #e6e6e6, -25px 51px 1px #eaeaea, -26px 53px 1px #efefef;
}

a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.main .wrapper {
  max-width: 30rem;
  width: 100%;
  height: auto;
  padding: 2.5rem;
  margin: 2rem auto;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  background: #e5e5e5;
  box-shadow: rgb(102, 114, 157) 0px 20px 30px -10px;
}
.main .form-group {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 0.25rem;
  padding-bottom: 1rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.main .form-group .input-label {
  font-family: "Work Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: inherit;
  color: #000;
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
}

.main .form-group .input-field {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: inherit;
  width: 100%;
  height: auto;
  padding: 0.75rem 1.5rem;
  margin: 0.25rem 0;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  border-bottom: 2px solid transparent;
  color: #313537;
  background: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  text-transform: unset;
  text-rendering: optimizeLegibility;
}
.main .form-group .input-check i.fas {
  position: absolute;
  font-size: 1rem;
  line-height: inherit;
  display: block;
  top: 2.5rem;
  right: 1rem;
  opacity: 0;
  visibility: hidden;
}
.main .form-group .input-alert {
  position: absolute;
  display: block;
  font-size: 1rem;
  font-family: "Yantramanav", sans-serif;
  font-weight: bold;
  line-height: inherit;
  left: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  color: #e40c0f;
}
.main .form-group .input-submit {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: inherit;
  cursor: pointer;
  width: 100%;
  height: auto;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  color: #ffffff;
  background: #858fb1;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
}
.main .form-group.success .input-field {
  border-bottom: 2px solid #2ecc71;
}
.main .form-group.success .input-check i.fa-check-circle {
  opacity: 1;
  visibility: visible;
  color: #2ecc71;
}
.main .form-group.error .input-field {
  border-bottom: 2px solid #f44336;
}
.main .form-group.error .input-check i.fa-exclamation-circle {
  opacity: 1;
  visibility: visible;
  color: #f44336;
}
.main .form-group.error .input-alert {
  opacity: 1;
  visibility: visible;
}
